<div class="city-search__field city-search__input">
  <label
    class="is-vishidden"
    for="code-postal"
  >
    Code postal
  </label>
  <input
    data-test-city-search-input
    id="code-postal"
    placeholder="Code postal ou ville"
    type="text"
    oninput={{perform queryCities value="target.value"}}
  >
</div>

<div class="city-search__field city-search__dropdown">
  <label
    class="is-vishidden"
    for="ville"
  >
    Ville
  </label>
  <select
    data-test-city-search-select
    id="ville"
    disabled={{or (not this.cities) (eq this.cities.length 1)}}
    onchange={{action (mut this.inseeCode) value="target.value"}}
  >
    {{#if this.cities}}
      {{#each this.cities as |city|}}
        <option value={{city.inseeCode}}>{{city.name}}</option>
      {{/each}}
    {{else}}
      <option value=''>Ville</option>
    {{/if}}
  </select>
</div>

<div class="city-search__field city-search__submit">
  <button
    data-test-city-search-submit-button
    type="submit"
    disabled={{not this.cities}}
  >
    {{svg-jar "search"}}
  </button>
</div>
