<HeaderToolbar/>

<main class="city-detail">
  <h2 class="city-subhead">Les 2 ans du quinquennat</h2>

  <h1 class="city-heading" data-test-city-name>
    {{model.name}}
  </h1>

  <p class="city-kicker">
    {{model.postalCodes.firstObject}} - {{model.department.name}}
  </p>

  {{#each model.nearbyCities as |nearbyCity|}}
    <span>{{nearbyCity.name}}</span>
  {{/each}}

  {{#if model.markers}}
    <Map
      @coordinates={{model._geoloc}}
      @markers={{model.markers}}
    />
  {{/if}}

  <div class="city-summary">
    <h2 class="city-summary-subhead">Les Détails</h2>

    <div class="city-summary__grid">
      {{#each model.measures as |summary|}}
        <Summary
          @summary={{summary}}
          data-test-summary
        />
      {{/each}}
    </div>
  </div>
</main>
