<HeaderToolbar/>

<main class="city-detail">
  <h2 class="city-subhead">ce qui a changé près de chez vous</h2>

  <h1 class="city-heading" data-test-city-name>
    {{model.name}}
  </h1>

  <p class="city-kicker">
    {{model.inseeCode}}
  </p>

  {{#if model.markers.length}}
    <Map
      @coordinates={{model.coordinates}}
      @markers={{model.markers}}
    />
  {{/if}}

  <div class="city-summary">
    <h2 class="city-summary-subhead">Les Détails</h2>

    <div class="city-summary__grid">
      {{#each model.measures as |summary|}}
        <Summary
          @summary={{summary}}
          data-test-summary
        />
      {{/each}}
    </div>
  </div>
</main>
