<HeaderToolbar/>

<main class="city-detail">
  <h1 class="city-heading" data-test-city-name>
    {{model.name}}
  </h1>

  <p class="city-kicker">
    {{model.postalCodes.firstObject}} - {{model.department.name}}
  </p>

  {{#if model.nearbyCities}}
    <div class="city-nearby">
      <span>Aussi près de chez vous :</span>
      {{#each model.nearbyCities as |nearbyCity|}}
        <LinkTo @route="map.city" @model={{nearbyCity.inseeCode}} class="nearby-city">
          {{nearbyCity.name}}
        </LinkTo>
      {{/each}}
    </div>
  {{/if}}

  {{#if model.markers}}
    <Map
      @coordinates={{model._geoloc}}
      @markers={{model.markers}}
    />
  {{/if}}

  <div class="city-summary">
    <h2 class="city-summary__subhead">Les Détails</h2>

    <div class="city-summary__grid">
      {{#each model.measures as |summary|}}
        <Summary
          @summary={{summary}}
          data-test-summary
        />
      {{/each}}
    </div>
  </div>
</main>

<div class="wrapper__l" id="section-1">
  <div class="el">
    <SocialsModule/>
  </div>
  <div class="el">
    <Newsletter/>
  </div>
</div>

<div class="wrapper__l" id="section-2">
  <ApplicationCall/>
</div>
