<HeaderToolbar/>

<main class="city-detail">
  <h2 class="city-subhead">c’est arrivé près de chez vous</h2>

  <h1 class="city-heading" data-test-city-name>
    {{model.name}}
  </h1>

  <p class="city-kicker">
    {{model.inseeCode}}
  </p>

  <Map
    @coordinates={{model.coordinates}}
    @markers={{model.markers}}
  />

  <div class="city-summary">
    <h2 class="city-summary-subhead">Les Détails</h2>

    <div class="city-summary__grid">
      {{#each model.summary as |summary|}}
        <Summary
          @summary={{summary}}
          data-test-summary
        />
      {{/each}}
    </div>
  </div>
</main>
