<div class="header-toolbar__wrapper">
  <div class="header-toolbar__left">
    <Logo/>
  </div>

  <div class="header-toolbar__center">
    <button
      class="header-search"
      data-test-open-search
      {{action (mut showSearch) true}}
    >
      {{#if (media 'isMedium')}}
        + Rechercher une commune
      {{else}}
        {{svg-jar "search"}}
      {{/if}}
    </button>
  </div>

  <div class="header-toolbar__right">
    {{#if (media 'isLarge')}}
      <HeaderToolbar::feedback data-test-feedback />
    {{else}}
      {{#basic-dropdown as |dd|}}
        {{#dd.trigger class="header-toolbar__feedback-button"}}
          {{svg-jar "more"}}
        {{/dd.trigger}}

        {{#dd.content}}
          <HeaderToolbar::feedback @vertical={{true}} data-test-feedback />
        {{/dd.content}}
      {{/basic-dropdown}}
    {{/if}}
  </div>
</div>

{{#if showSearch}}
  <HeaderToolbar::modal
    @close={{action (mut showSearch) false}}
    @onSubmit={{action 'goToCity'}}
  />
{{/if}}
