<HeaderToolbar::button
  @open={{action 'dialog' 'email' (hash
    subject="Signalement d'une erreur sur Ce qui a changé près de chez vous"
    body='Je souhaite signaler une erreur sur {{URL}}'
    email='idees@en-marche.fr'
  )}}
  class="header-feedback__email"
  data-test-report
>
  Signaler une erreur
</HeaderToolbar::button>

<div class="header-feedback__share">
  <div class="header-feedback__share-label">
    Partager :
  </div>

  <div class="header-feedback__share-group">
    <HeaderToolbar::button
      @open={{action 'dialog' 'twitter' (hash
        text=@title
        via='enmarchefr'
      )}}
      data-test-share-twitter
    >
      <FaIcon @icon='twitter' @prefix='fab' />
    </HeaderToolbar::button>

    <HeaderToolbar::button
      data-test-share-facebook
      @open={{action 'dialog' 'facebook'}}
    >
      <FaIcon @icon='facebook-f' @prefix='fab' />
    </HeaderToolbar::button>

    <HeaderToolbar::button
      data-test-share-telegram
      @open={{action 'dialog' 'telegram'}}
    >
      <FaIcon @icon='telegram-plane' @prefix='fab' />
    </HeaderToolbar::button>
  </div>
</div>
